<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzf.slgtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ArenaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InstanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OfficialRankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GoblinStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PlayerInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.VipAndBonusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BagCardInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ResolveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HeroTempleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExpeditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AltarLotteryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ForceTestActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.MultFunctionTestActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>